<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Clientes</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <div class="row" style="width: 99%; margin: 0px auto">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Lista de clientes</h3>
  
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px">
              <input
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Búsqueda"
              />
  
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th style="width: 5%">DNI</th>
                <th style="width: 11%">Nombre</th>
                <th style="width: 11%">Apellido</th>
                
                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                  
                  <td>{{ customer.DNI }}</td>
                  <td>{{ customer.nombre }}</td>
                  <td>{{ customer.apellido }}</td>
                  
                  
                <td class="project-actions">
                  <a class="btn btn-info btn-sm" [routerLink]="['/edit-cliente', customer._id]">
                    <i class="fas fa-pencil-alt"> </i>
                  </a>
                  <a class="btn btn-danger btn-sm" (click)="deleteCustomer(customer._id)">
                    <i class="fas fa-trash"> </i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
  <div class="row" style="width: 99%; margin: 0px auto">
    <div class="col-12">
      <a routerLink="/agregar-cliente" class="btn btn-success float-right">Agregar nuevo cliente</a>
    </div>
  </div>
  